.but {
    width: 3cm;
    height: 0.95cm;
    margin-top: 0.99cm;
    margin-right: 2cm;
    border-radius: 12px;
    transition: 0.3s ease;
  }

  .sr{

    width: 8cm;
    margin-top: 1cm;
    margin-right: 1.5cm;
    

  }

  .ca{
    
    width: 5cm;
    margin-top: 1cm;


  }