h4{
    font-size: 24px;
    color: #253C59;
    font-family: serif;
}
a{
    text-decoration: none;
    transition: 0.3s ease;
}
.mb-20{
    margin-bottom: 20px !important;
}
.btn {
    display: flex;
    justify-content: center;
    
    text-align: center;
    margin-top: 10px;
}
