/* .navbar {
    background-color:#253C59  ;
    }
    .nav-link {
    color: white !important;
    }
    .logo {
      width: 220px;
      height: 55px;
    }
    
    .navbar-nav{
      display: flex !important;
      justify-content: space-between !important;
      margin-left: auto !important;
    }


    .bd {
      border-radius: 8px;
      transition: 0.3s ease;
    }

 
    
     */