.navbar {
    background-color: rgb(30, 30, 70);
    }
    .nav-link {
    color: cornsilk !important;
    }
    .logo {
      width: 143px;
      height: 45px;
    }
    
    .navbar-nav{
      display: flex !important;
      justify-content: space-between !important;
      margin-left: auto !important;
    }

    

    .bd {
      border-radius: 8px;
      transition: 0.3s ease;
    }

 
    
    